@font-face {
  font-family: "iconfont";
  /* Project id 3789743 */
  src: url("//at.alicdn.com/t/c/font_3789743_ip9ow4y94l.woff2?t=1669257130329") format("woff2"), url("//at.alicdn.com/t/c/font_3789743_ip9ow4y94l.woff?t=1669257130329") format("woff"), url("//at.alicdn.com/t/c/font_3789743_ip9ow4y94l.ttf?t=1669257130329") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}
